:root {
  --c1: #d9ed92;
  --c2: #b5e48c;
  --c3: #99d98c;
  --c4: #76c893;
  --c5: #52b69a;
  --c6: #34a0a4;
  --c7: #168aad;
  --c8: #1a759f;
  --c9: #1e6091;
  --c10: #184e77;
}
body {
  flex-direction: column;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/static/image/f.png'),
    linear-gradient(
      to bottom,
      rgba(217, 237, 146, 0.6),
      /* #D9ED92 with opacity */ rgba(118, 200, 147, 0.6),
      /* #76C893 */ rgba(52, 166, 164, 0.6),
      /* #34A0A4 */ rgba(26, 117, 159, 0.6),
      /* #1A759F */ rgba(24, 78, 119, 0.6) /* #184E77 */
    );
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background-blend-mode: overlay;
  padding: 0;
  margin: 0;
  font-family: 'Geologica', sans-serif;
}
.subtitle {
  color: hsl(189, 28%, 95%, 1);
  max-width: 50rem;
  text-align: center;
  font-family: 'MuseoModerno', sans-serif;
  mix-blend-mode: overlay;
  font-size: 1.1rem;
}
.welcome {
  line-height: 0rem;
  font-size: 15rem;
  text-wrap: nowrap;
  color: hsl(189, 38%, 60%, 1);
  filter: brightness(110%);
  mix-blend-mode: overlay;
  font-family: 'Monoton', sans-serif;
  text-transform: uppercase;
}
.decorate {
  position: absolute;
}
.button {
  margin-top: 1rem;
  color: #eff5f6;
  background-color: hsla(115, 48%, 94%, 0.1);
  padding-inline: 4rem;
  padding-block: 0.8rem;
  border-radius: 15px;
  border: 1px solid hsl(189, 28%, 95%, 0.5);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, 0.1), inset 0 1px 0 hsla(0, 0%, 50%, 0.5), inset 0 -1px 0 hsla(0, 0%, 50%, 0.1),
    inset 0 0 20px 10px hsla(0, 0%, 50%, 0.1);
  font-size: 1rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
