{% extends "base.html" %}{% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}" />
<link
  href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Monoton&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet" />
<title>Landing</title>
{% endblock meta %} {% block content %}
<img src="{% static 'image/h.gif' %}" class="decorate" alt="">
<div class="section" id="first">
  <div style="position: relative">
    <h1 class="welcome">RAGASPACE</h1>
  </div>
  <div class="subtitle">
    A training simulator (VR/AR or even a specialized gym chamber) where athletes experience drills in reduced or zero
    gravity conditions, inspired by
    space physics
  </div>
  <a class="button" href="{% url 'main:logout' %}" style="text-decoration:none">Explore More</a>
</div>
<div class="section" id="second" style="height:70vh; width: 100vw;">
</div>

{% endblock content %}