{% load addon_extras %}
<h3 class="mb-2 text-sm font-semibold text-white">Enhance your booking</h3>
{% if field and field|length %}
<div class="space-y-3">
  {% for checkbox in field %}
  {% with addon=addon_lookup|get_item:checkbox.data.value %}
  <label class="addon-option">
    <input
      type="checkbox"
      name="{{ field.name }}"
      value="{{ checkbox.data.value }}"
      id="{{ checkbox.id_for_label }}"
      class="{{ checkbox.attrs.class|default:'addon-option__input' }}"
      {% if checkbox.is_checked %}checked{% endif %}
      {% for attr, value in checkbox.attrs.items %}{% if attr != 'class' and attr != 'id' %} {{ attr }}="{{ value }}"{% endif %}{% endfor %}
    />
    <div class="addon-option__content">
      <span class="addon-option__check" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-3.5 w-3.5">
          <path
            fill-rule="evenodd"
            d="M16.704 5.29a1 1 0 0 1 0 1.42l-7.25 7.25a1 1 0 0 1-1.42 0l-3.25-3.25a1 1 0 1 1 1.42-1.42l2.54 2.54 6.54-6.54a1 1 0 0 1 1.42 0z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <div class="addon-option__body">
        <div class="addon-option__header">
          <span class="addon-option__title">{{ addon.name|default:checkbox.choice_label }}</span>
          {% if addon %}
          <span class="addon-option__price">Rp {{ addon.price_display }}</span>
          {% endif %}
        </div>
        {% if addon and addon.description %}
        <span class="addon-option__description">{{ addon.description }}</span>
        {% endif %}
      </div>
    </div>
  </label>
  {% endwith %}
  {% endfor %}
</div>
{% else %}
<p class="text-sm text-white/60">No add-ons are available for this venue.</p>
{% endif %}
{{ field.errors }}